<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Rock Paper Scissors</title>
</head>
<body>
    <div>
    <nav>
    <ul class="nav">
        <li><a href="/welcome">Home</a></li>
        <li><a href="/result">Results</a></li>
        <li><a href="/play">Lets Play</a></li>
    </ul>
    </nav>
    </div>
    <hr>
    {%  block content %}

    {%  endblock %}

    
</body>
</html>