{%  extends "base.html" %}

{%  block play %}

<h1 id="rockpaper">Rock Paper Scissors</h1>
<h3><b>MAKE YOUR CHOICE BELOW:</b></h3>
        
<form  class="game" action="/play" method="post">
    <div id="player_1">

        <label for="player_1_name">Player 1 Name</label>
        <input type="text" name="player_1_name" id="player_1_name" required>
        </div>
        <div>
            <label for="player_1_choice">Make your choice!<br></label>
            <select name="player_1_choice" id="player_1_choice" required>
                <option value="Rock">Rock</option>
                <option value="Paper">Paper</option>
                <option value="Scissors">Scissors</option>
            </select>
        </div>

     </div>
     <div>
        <label for="player_2_name">Player 2 Name</label>
        <input type="text" name="player_2_name" id="player_2_name" required>
    </div>


    <div>
        <label for="player_2_choice">Make your choice!<br></label>
        <select name="player_2_choice" id="player_2_choice" required>
            <option value="Rock">Rock</option>
            <option value="Paper">Paper</option>
            <option value="Scissors">Scissors</option>
        </select>
    </div>
    <!-- <div>
      <input type="checkbox" id="rock" name="rock"
             checked>
      <label for="rock">Rock</label>
    </div>
    <div>
      <input type="checkbox" id="paper" name="paper">
      <label for="paper">Paper</label>
    </div>
    <div>
        <input type="checkbox" id="scissors" name="scissors">
        <label for="scissors">Scissors</label>
      </div>
      <div>
          <input type="submit" value="Lets Play" id="lets_play">
      </div>

      <p><b>PLAYER 2, MAKE YOUR CHOICE BELOW:</b></p>
    

    <div>
      <input type="checkbox" id="rock" name="rock"
             checked>
      <label for="rock">Rock</label>
    </div>
    <div>
      <input type="checkbox" id="paper" name="paper">
      <label for="paper">Paper</label>
    </div>
    <div>
        <input type="checkbox" id="scissors" name="scissors">
        <label for="scissors">Scissors</label>
      </div>
      <div>
          <input type="submit" value="Lets Play" id="lets_play">
      </div>
     -->





    
</form>

    {%  endblock play %}